In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_M%C3%A9xico_m%C3%A1s_pobladas"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [12]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[20:]
print(data[-1:])

[['117', 'OAX-02', 'San Juan Bautista Tuxtepec\n', '101\xa0810', ' Oaxaca\n', '—\n']]

In [13]:
df = pd.DataFrame(data)
df.head()

,0,1,2,3,4,5
0,001,DIF-01,Ciudad de México\n,8 851 080,Ciudad de México\n,Valle de México\n
1,002,MEX-01,Ecatepec\n,1 655 015,México\n,Valle de México\n
2,003,JAL-01,Guadalajara\n,1 495 182,Jalisco\n,Guadalajara\n
3,004,PUE-01,Puebla de Zaragoza\n,1 434 062,Puebla\n,Puebla-Tlaxcala\n
4,005,BCN-01,Tijuana\n,1 321 004,Baja California\n,Tijuana-San Diego\n

In [15]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [0])
print(header_list)

['º\n' '\n' 'Ciudad\n' 'Población  (2010)\n' 'Entidad Federativa\n'
 'Área metropolitana\n']

In [16]:
df.columns = header_list
df.head()

,º\n,\n,Ciudad\n,Población (2010)\n,Entidad Federativa\n,Área metropolitana\n
0,001,DIF-01,Ciudad de México\n,8 851 080,Ciudad de México\n,Valle de México\n
1,002,MEX-01,Ecatepec\n,1 655 015,México\n,Valle de México\n
2,003,JAL-01,Guadalajara\n,1 495 182,Jalisco\n,Guadalajara\n
3,004,PUE-01,Puebla de Zaragoza\n,1 434 062,Puebla\n,Puebla-Tlaxcala\n
4,005,BCN-01,Tijuana\n,1 321 004,Baja California\n,Tijuana-San Diego\n

In [17]:
df.shape

(117, 6)

In [22]:
df = df['Población  (2010)\n']!= '<NA>']
df.shape

SyntaxError: unmatched ']' (<ipython-input-22-1dd05ed8cfa6>, line 1)

In [21]:
df['Población  (2010)\n'] = df['Población  (2010)\n'].astype('string')
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df['Población  (2010)\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','').replace(',','')) for val in df['Población  (2010)\n'].values]
df['Ciudad\n'] = [str(str(val).replace('\n','')) for val in df['Ciudad\n'].values]
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df.dtypes

º\n                      object
\n                       object
Ciudad\n                 string
Población  (2010)\n     float64
Entidad Federativa\n     object
Área metropolitana\n     object
dtype: object

In [23]:
df = df.loc[ df['Población  (2010)\n'] >= 200000]
df.head()

,º\n,\n,Ciudad\n,Población (2010)\n,Entidad Federativa\n,Área metropolitana\n
0,001,DIF-01,Ciudad de México,8851080.0,Ciudad de México\n,Valle de México\n
1,002,MEX-01,Ecatepec,1655015.0,México\n,Valle de México\n
2,003,JAL-01,Guadalajara,1495182.0,Jalisco\n,Guadalajara\n
3,004,PUE-01,Puebla de Zaragoza,1434062.0,Puebla\n,Puebla-Tlaxcala\n
4,005,BCN-01,Tijuana,1321004.0,Baja California\n,Tijuana-San Diego\n

In [24]:
df = df.set_index('º\n')
df.head()

,\n,Ciudad\n,Población (2010)\n,Entidad Federativa\n,Área metropolitana\n
º,,,,,
001,DIF-01,Ciudad de México,8851080.0,Ciudad de México\n,Valle de México\n
002,MEX-01,Ecatepec,1655015.0,México\n,Valle de México\n
003,JAL-01,Guadalajara,1495182.0,Jalisco\n,Guadalajara\n
004,PUE-01,Puebla de Zaragoza,1434062.0,Puebla\n,Puebla-Tlaxcala\n
005,BCN-01,Tijuana,1321004.0,Baja California\n,Tijuana-San Diego\n

In [25]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [26]:
df['long'] = ""
df['lat'] = ""

In [27]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-27-583c6ecdc2cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-27-583c6ecdc2cf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

,\n,Ciudad\n,Población (2010)\n,Entidad Federativa\n,Área metropolitana\n,long,lat
º,,,,,,,
001,DIF-01,Ciudad de México,8851080.0,Ciudad de México\n,Valle de México\n,-99.1332,19.4326
002,MEX-01,Ecatepec,1655015.0,México\n,Valle de México\n,-99.0365,19.6058
003,JAL-01,Guadalajara,1495182.0,Jalisco\n,Guadalajara\n,-103.35,20.6597
004,PUE-01,Puebla de Zaragoza,1434062.0,Puebla\n,Puebla-Tlaxcala\n,-98.2063,19.0414
005,BCN-01,Tijuana,1321004.0,Baja California\n,Tijuana-San Diego\n,-117.038,32.5149

In [28]:
df.to_excel('Mexico.xlsx')