In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Honduras_m%C3%A1s_pobladas"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [6]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[1:]
print(data[-1:])

[['12', 'Catacamas', '133,896', 'Olancho\n']]

In [10]:
df = pd.DataFrame(data)
df=df.head(12)
df

,0,1,2,3,4
0,1,Tegucigalpa y Comayagüela,1.143.373,Distrito Central (Honduras),2.267.294\n
1,2,San Pedro Sula,736.751,San Pedro Sula,777.877\n
2,3,Choloma,214.377,Choloma,262.186\n
3,4,La Ceiba,"198,942",La Ceiba,214.917\n
4,5,El Progreso (Honduras),147.426,El Progreso,196.884\n
5,6,Villanueva (Honduras),145.417,Villanueva,169.609\n
6,7,Comayagua,111.787,Comayagua,163.914\n
7,8,Choluteca (ciudad),108.675,Choluteca,164.452\n
8,9,Puerto Cortés,88.289,Puerto Cortés,131.981\n
9,10,Danlí,85.075,Danlí,214.566\n
10,11,Siguatepeque,82.769,Siguatepeque,105.735\n
11,12,Juticalpa,78.118,Juticalpa,137.648\n

In [15]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = ['Lugar','Ciudad','Población Urbana', 'Municipio','Población Municipal']
print(header_list)

['Lugar', 'Ciudad', 'Población Urbana', 'Municipio', 'Población Municipal']

In [16]:
df.columns = header_list
df.head()

,Lugar,Ciudad,Población Urbana,Municipio,Población Municipal
0,1,Tegucigalpa y Comayagüela,1.143.373,Distrito Central (Honduras),2.267.294\n
1,2,San Pedro Sula,736.751,San Pedro Sula,777.877\n
2,3,Choloma,214.377,Choloma,262.186\n
3,4,La Ceiba,"198,942",La Ceiba,214.917\n
4,5,El Progreso (Honduras),147.426,El Progreso,196.884\n

In [17]:
df.shape

(12, 5)

In [ ]:
df = df[df['Population']!= '<NA>']
df.shape

In [18]:
df['Población Urbana'] = df['Población Urbana'].astype('string')
df['Ciudad'] = df['Ciudad'].astype('string')
df['Población Urbana'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[3]','').replace('[4]','').replace('\u200b','').replace(',','')) for val in df['Población Urbana'].values]
df['Ciudad'] = [str(str(val).replace('\n','')) for val in df['Ciudad'].values]
df['Ciudad'] = df['Ciudad'].astype('string')
df.dtypes

Lugar                   object
Ciudad                  string
Población Urbana       float64
Municipio               object
Población Municipal     object
dtype: object

In [20]:
df = df.loc[ df['Población Urbana'] >= 200000]
df.head()

,Lugar,Ciudad,Población Urbana,Municipio,Población Municipal
0,1,Tegucigalpa y Comayagüela,1143373.0,Distrito Central (Honduras),2.267.294\n
1,2,San Pedro Sula,736751.0,San Pedro Sula,777.877\n
2,3,Choloma,214377.0,Choloma,262.186\n

In [21]:
df = df.set_index('Lugar')
df.head()

,Ciudad,Población Urbana,Municipio,Población Municipal
Lugar,,,,
1,Tegucigalpa y Comayagüela,1143373.0,Distrito Central (Honduras),2.267.294\n
2,San Pedro Sula,736751.0,San Pedro Sula,777.877\n
3,Choloma,214377.0,Choloma,262.186\n

In [22]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [23]:
df['long'] = ""
df['lat'] = ""

In [25]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-25-b7ff76cbda6c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-25-b7ff76cbda6c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

,Ciudad,Población Urbana,Municipio,Población Municipal,long,lat
Lugar,,,,,,
1,Tegucigalpa y Comayagüela,1143373.0,Distrito Central (Honduras),2.267.294\n,-87.1715,14.065
2,San Pedro Sula,736751.0,San Pedro Sula,777.877\n,-88.0139,15.5039
3,Choloma,214377.0,Choloma,262.186\n,-87.9559,15.6055

In [26]:
df.to_excel('Honduras.xlsx')