In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Municipios_de_Paraguay_por_poblaci%C3%B3n"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [4]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[1:]
print(data[-1:])

[['18\n', 'Puerto Casado\n', '6.833\n', ' Alto Paraguay\n']]

In [6]:
df = pd.DataFrame(data)
df=df.head(5)
df

     0                  1          2                    3
0  1\n         Asunción\n  521.101\n   Distrito Capital\n
1  2\n  Ciudad del Este\n  306.679\n        Alto Paraná\n
2  3\n            Luque\n  286.053\n            Central\n
3  4\n      San Lorenzo\n  260.171\n            Central\n
4  5\n          Capiatá\n  245.013\n            Central\n

In [9]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [4,5,6,7,8,9,10,11,12,13,14,15])
print(header_list)

['#\n' 'Municipio\n' 'Población (2021)\n' 'Departamento\n']

In [10]:
df.columns = header_list
df.head()

   #\n        Municipio\n Población (2021)\n       Departamento\n
0  1\n         Asunción\n          521.101\n   Distrito Capital\n
1  2\n  Ciudad del Este\n          306.679\n        Alto Paraná\n
2  3\n            Luque\n          286.053\n            Central\n
3  4\n      San Lorenzo\n          260.171\n            Central\n
4  5\n          Capiatá\n          245.013\n            Central\n

In [11]:
df.shape

(5, 4)

In [ ]:
df = df[df['Población (2021)\n']!= '<NA>']
df.shape

In [12]:
df['Población (2021)\n'] = df['Población (2021)\n'].astype('string')
df['Municipio\n'] = df['Municipio\n'].astype('string')
df['Población (2021)\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','').replace(',','')) for val in df['Población (2021)\n'].values]
df['Municipio\n'] = [str(str(val).replace('\n','')) for val in df['Municipio\n'].values]
df['Municipio\n'] = df['Municipio\n'].astype('string')
df.dtypes

#\n                    object
Municipio\n            string
Población (2021)\n    float64
Departamento\n         object
dtype: object

In [13]:
df = df.loc[ df['Población (2021)\n'] >= 200000]
df.head()

   #\n      Municipio\n  Población (2021)\n       Departamento\n
0  1\n         Asunción            521101.0   Distrito Capital\n
1  2\n  Ciudad del Este            306679.0        Alto Paraná\n
2  3\n            Luque            286053.0            Central\n
3  4\n      San Lorenzo            260171.0            Central\n
4  5\n          Capiatá            245013.0            Central\n

In [14]:
df = df.set_index('#\n')
df.head()

         Municipio\n  Población (2021)\n       Departamento\n
#\n
1\n         Asunción            521101.0   Distrito Capital\n
2\n  Ciudad del Este            306679.0        Alto Paraná\n
3\n            Luque            286053.0            Central\n
4\n      San Lorenzo            260171.0            Central\n
5\n          Capiatá            245013.0            Central\n

In [15]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [16]:
df['long'] = ""
df['lat'] = ""

In [17]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Municipio\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-17-0f7290d4f733>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-17-0f7290d4f733>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

,Municipio\n,Población (2021)\n,Departamento\n,long,lat
#,,,,,
1\n,Asunción,521101.0,Distrito Capital\n,-57.5759,-25.2637
2\n,Ciudad del Este,306679.0,Alto Paraná\n,-54.6637,-25.4987
3\n,Luque,286053.0,Central\n,-57.4846,-25.2655
4\n,San Lorenzo,260171.0,Central\n,-122.127,37.6794
5\n,Capiatá,245013.0,Central\n,-57.4407,-25.3559

In [18]:
df.to_excel('Paraguay.xlsx')