In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [4]:
url = "https://www.geonames.org/HT/largest-cities-in-haiti.html"
html = urlopen(url)

In [5]:
soup = BeautifulSoup(html)

In [10]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[2:]
print(data[-1:])

[['Administrative DivisionFeature StatisticLargest CitiesHighest MountainsOther Country Names']]

In [11]:
df = pd.DataFrame(data)
df.head()

   0                            1          2                 3
0  1      Port-au-Prince  , Ouest  1,234,742  18.543 / -72.339
1  2           Delmas 73  , Ouest    382,920  18.545 / -72.303
2  3         Pétionville  , Ouest    283,052  18.512 / -72.285
3  4   Port-de-Paix  , Nord-Ouest    250,000    19.94 / -72.83
4  5  Croix-des-Bouquets  , Ouest    229,127  18.577 / -72.226

In [12]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)

print(header_list)

['', 'Name', 'Population', 'Latitude/Longitude']

In [19]:
df.columns = header_list
df=df.head(10)

In [20]:
df.shape

(10, 4)

In [ ]:
df = df[df['Population']!= '<NA>']
df.shape

In [21]:
df['Population'] = df['Population'].astype('string')
df['Name'] = df['Name'].astype('string')
df['Population'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[3]','').replace('[4]','').replace('\u200b','').replace(',','')) for val in df['Population'].values]
df['Name'] = [str(str(val).replace('\n','')) for val in df['Name'].values]
df['Name'] = df['Name'].astype('string')
df.dtypes

                       object
Name                   string
Population            float64
Latitude/Longitude     object
dtype: object

In [22]:
df = df.loc[ df['Population'] >= 200000]
df.head()

                             Name  Population Latitude/Longitude
0  1      Port-au-Prince  , Ouest   1234742.0   18.543 / -72.339
1  2           Delmas 73  , Ouest    382920.0   18.545 / -72.303
2  3         Pétionville  , Ouest    283052.0   18.512 / -72.285
3  4   Port-de-Paix  , Nord-Ouest    250000.0     19.94 / -72.83
4  5  Croix-des-Bouquets  , Ouest    229127.0   18.577 / -72.226

In [23]:
df = df.set_index('')
df.head()

                          Name  Population Latitude/Longitude

1      Port-au-Prince  , Ouest   1234742.0   18.543 / -72.339
2           Delmas 73  , Ouest    382920.0   18.545 / -72.303
3         Pétionville  , Ouest    283052.0   18.512 / -72.285
4   Port-de-Paix  , Nord-Ouest    250000.0     19.94 / -72.83
5  Croix-des-Bouquets  , Ouest    229127.0   18.577 / -72.226

In [ ]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [ ]:
df['long'] = ""
df['lat'] = ""

In [ ]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

In [24]:
df.to_excel('Haití.xlsx')