In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Chile"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [10]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[8:]
print(data[-1:])

[['1 m.s.n.m.', 'Talcahuano', '\xa0Biobío\n']]

In [12]:
df = pd.DataFrame(data)
df = df.drop(columns=[3,4])
df.head()

                 0                          1            2
0    Gran Santiago  Metropolitana de Santiago  8.032.437\n
1  Gran Valparaíso                 Valparaíso  1.029.384\n
2  Gran Concepción                     Biobío    866.591\n
3   Gran La Serena                   Coquimbo    506.391\n
4      Antofagasta                Antofagasta    425.725\n

In [20]:
header_list = ['Ciudad', 'Región', 'Población']

In [27]:
df.columns = header_list
df=df.head(32)
df

,Ciudad,Región,Población
0,Gran Santiago,Metropolitana de Santiago,8.032.437
1,Gran Valparaíso,Valparaíso,1.029.384
2,Gran Concepción,Biobío,866.591
3,Gran La Serena,Coquimbo,506.391
4,Antofagasta,Antofagasta,425.725
5,Gran Rancagua,O'Higgins,392.052
6,Gran Temuco,Araucanía,385.046
7,Gran Iquique,Tarapacá,353.462
8,Gran Puerto Montt,Los Lagos,336.639
9,Arica,Arica y Parinacota,247.552
10,"Talca (reúne las comunas de Talca, Maule, San ...",Maule,320.538
11,Chillán-Chillan Viejo,Ñuble,215.646
12,Los Ángeles,Biobío,202.331
13,Calama,Antofagasta,190.336
14,Valdivia,Los Ríos,176.774
15,Gran Quillota,Valparaíso,176.484
16,Osorno,Los Lagos,173.410
17,Copiapó,Atacama,171.766
18,Coronel-Lota,Biobío,171.579
19,Curicó,Maule,163.626
20,Punta Arenas,Magallanes,141.948
21,Melipilla,Metropolitana de Santiago,141.612
22,Gran San Antonio,Valparaíso,136.833
23,Ovalle,Coquimbo,121.269
24,Buin,Metropolitana de Santiago,109.641
25,Los Andes-Calle Larga-San Esteban,Valparaíso,105.217
26,Linares,Maule,101.073
27,San Felipe,Valparaíso,83.494
28,Talagante,Metropolitana,81.838
29,San Fernando,O'Higgins,78.642
30,Limache-Olmué,Valparaíso,69.197
31,Coyhaique,Aysén,61.210

In [28]:
df.shape

(32, 3)

In [29]:
df = df[df['Población']!= '<NA>']
df.shape

(32, 3)

In [30]:
df['Población'] = df['Población'].astype('string')
df['Ciudad'] = df['Ciudad'].astype('string')
df['Población'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','').replace(',','')) for val in df['Población'].values]
df['Ciudad'] = [str(str(val).replace('\n','')) for val in df['Ciudad'].values]
df['Ciudad'] = df['Ciudad'].astype('string')
df.dtypes

Ciudad        string
Región        object
Población    float64
dtype: object

In [32]:
df = df.loc[ df['Población'] >= 200000]
df.head()

            Ciudad                     Región  Población
0    Gran Santiago  Metropolitana de Santiago  8032437.0
1  Gran Valparaíso                 Valparaíso  1029384.0
2  Gran Concepción                     Biobío   866591.0
3   Gran La Serena                   Coquimbo   506391.0
4      Antofagasta                Antofagasta   425725.0

In [ ]:
df = df.set_index('#\n')
df.head()

In [33]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [34]:
df['long'] = ""
df['lat'] = ""

<ipython-input-34-f1f2ea1de316>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'] = ""
<ipython-input-34-f1f2ea1de316>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'] = ""

In [36]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-36-b7ff76cbda6c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
C:\Users\Pavilion\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-36-b7ff76cbda6c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

            Ciudad                     Región  Población     long      lat
0    Gran Santiago  Metropolitana de Santiago  8032437.0 -70.6693 -33.4489
1  Gran Valparaíso                 Valparaíso  1029384.0 -71.6502 -33.0501
2  Gran Concepción                     Biobío   866591.0 -73.0405 -36.7917
3   Gran La Serena                   Coquimbo   506391.0 -116.548  33.8189
4      Antofagasta                Antofagasta   425725.0 -70.3975 -23.6509

In [37]:
df.to_excel('Chile.xlsx')