In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [3]:
url = "https://es.wikipedia.org/wiki/Anexo:Localidades_de_Panam%C3%A1"
html = urlopen(url)

In [4]:
soup = BeautifulSoup(html)

In [5]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[1:]
print(data[-1:])

[['\nProyectos Wikimedia\n Datos: Q318675\n Multimedia: Cities in Panama\n\n']]

In [25]:
df = pd.DataFrame(data)
df.head()

     0              1            2               3
0  1\n       Panamá\n  1,756,781\n        Panamá\n
1  2\n        Colón\n    241,817\n         Colón\n
2  3\n        David\n    193,350\n      Chiriquí\n
3  4\n  La Chorrera\n    190,093\n  Panamá Oeste\n
4  5\n     Santiago\n     98,431\n      Veraguas\n

In [26]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [4])
print(header_list)

['N.º\n' 'Ciudad\n' 'Población\n' 'Provincia\n']

In [27]:
df.columns = header_list
df.head()

  N.º\n       Ciudad\n  Población\n     Provincia\n
0   1\n       Panamá\n  1,756,781\n        Panamá\n
1   2\n        Colón\n    241,817\n         Colón\n
2   3\n        David\n    193,350\n      Chiriquí\n
3   4\n  La Chorrera\n    190,093\n  Panamá Oeste\n
4   5\n     Santiago\n     98,431\n      Veraguas\n

In [28]:
df.shape

(21, 4)

In [30]:
df = df[df['Población\n']!= '<NA>']
df.shape

(20, 4)

In [31]:
df['Población\n'] = df['Población\n'].astype('string')
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df['Población\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','').replace(',','')) for val in df['Población\n'].values]
df['Ciudad\n'] = [str(str(val).replace('\n','')) for val in df['Ciudad\n'].values]
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df.dtypes

N.º\n           object
Ciudad\n        string
Población\n    float64
Provincia\n     object
dtype: object

In [32]:
df = df.loc[ df['Población\n'] >= 200000]
df.head()

  N.º\n Ciudad\n  Población\n Provincia\n
0   1\n   Panamá    1756781.0    Panamá\n
1   2\n    Colón     241817.0     Colón\n

In [33]:
df = df.set_index('N.º\n')
df.head()

      Ciudad\n  Población\n Provincia\n
N.º\n
1\n     Panamá    1756781.0    Panamá\n
2\n      Colón     241817.0     Colón\n

In [34]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [35]:
df['long'] = ""
df['lat'] = ""

In [36]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-36-583c6ecdc2cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-36-583c6ecdc2cf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

      Ciudad\n  Población\n Provincia\n     long      lat
N.º\n
1\n     Panamá    1756781.0    Panamá\n -80.7821  8.53798
2\n      Colón     241817.0     Colón\n -79.8999   9.3593

In [37]:
df.to_excel('Panamá.xlsx')