In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Rep%C3%BAblica_Dominicana_por_poblaci%C3%B3n"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [4]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[2:]
print(data[-1:])

[['41\n', 'Villa González\n', 'Santiago\n', '55,525\n']]

In [5]:
df = pd.DataFrame(data)
df.head()

,0,1,2,3
0,1\n,Distrito Nacional\n,Santo Domingo\n,"0Expresión errónea: carácter de puntuación «,»..."
1,2\n,Santo Domingo Este\n,Santo Domingo\n,"0Expresión errónea: carácter de puntuación «,»..."
2,3\n,Santiago de los Caballeros\n,Santiago\n,"950, 011\n"
3,4\n,Santo Domingo Norte\n,Santo Domingo\n,705.938\n
4,5\n,Santo Domingo Oeste\n,Santo Domingo\n,"693,255\n"

In [10]:
df.iloc[0,3] = 1141371 
df.iloc[1,3] = 1036494
df.head()

     0                             1                2           3
0  1\n           Distrito Nacional\n  Santo Domingo\n     1141371
1  2\n          Santo Domingo Este\n  Santo Domingo\n     1036494
2  3\n  Santiago de los Caballeros\n       Santiago\n  950, 011\n
3  4\n         Santo Domingo Norte\n  Santo Domingo\n   705.938\n
4  5\n         Santo Domingo Oeste\n  Santo Domingo\n   693,255\n

In [11]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [0])
print(header_list)

['Ranking\n', 'Ciudad\n', 'Provincia\n', 'Población (2019)\n']

In [12]:
df.columns = header_list
df.head()

  Ranking\n                      Ciudad\n      Provincia\n Población (2019)\n
0       1\n           Distrito Nacional\n  Santo Domingo\n            1141371
1       2\n          Santo Domingo Este\n  Santo Domingo\n            1036494
2       3\n  Santiago de los Caballeros\n       Santiago\n         950, 011\n
3       4\n         Santo Domingo Norte\n  Santo Domingo\n          705.938\n
4       5\n         Santo Domingo Oeste\n  Santo Domingo\n          693,255\n

In [13]:
df.shape

(41, 4)

In [ ]:
df = df[df['Población (2019)\n']!= '<NA>']
df.shape

In [15]:
df['Población (2019)\n'] = df['Población (2019)\n'].astype('string')
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df['Población (2019)\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','').replace(',','')) for val in df['Población (2019)\n'].values]
df['Ciudad\n'] = [str(str(val).replace('\n','')) for val in df['Ciudad\n'].values]
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df.dtypes

Ranking\n              object
Ciudad\n               string
Provincia\n            object
Población (2019)\n    float64
dtype: object

In [16]:
df = df.loc[ df['Población (2019)\n'] >= 200000]
df.head()

  Ranking\n                    Ciudad\n      Provincia\n  Población (2019)\n
0       1\n           Distrito Nacional  Santo Domingo\n          11413710.0
1       2\n          Santo Domingo Este  Santo Domingo\n          10364940.0
2       3\n  Santiago de los Caballeros       Santiago\n           9500110.0
3       4\n         Santo Domingo Norte  Santo Domingo\n           7059380.0
4       5\n         Santo Domingo Oeste  Santo Domingo\n           6932550.0

In [17]:
df = df.set_index('Ranking\n')
df.head()

                             Ciudad\n      Provincia\n  Población (2019)\n
Ranking\n
1\n                 Distrito Nacional  Santo Domingo\n          11413710.0
2\n                Santo Domingo Este  Santo Domingo\n          10364940.0
3\n        Santiago de los Caballeros       Santiago\n           9500110.0
4\n               Santo Domingo Norte  Santo Domingo\n           7059380.0
5\n               Santo Domingo Oeste  Santo Domingo\n           6932550.0

In [18]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [19]:
df['long'] = ""
df['lat'] = ""

In [20]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-20-583c6ecdc2cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-20-583c6ecdc2cf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

,Ciudad\n,Provincia\n,Población (2019)\n,long,lat
Ranking,,,,,
1\n,Distrito Nacional,Santo Domingo\n,11413710.0,-69.9312,18.4861
2\n,Santo Domingo Este,Santo Domingo\n,10364940.0,-69.8255,18.4893
3\n,Santiago de los Caballeros,Santiago\n,9500110.0,-70.6931,19.4792
4\n,Santo Domingo Norte,Santo Domingo\n,7059380.0,-69.9074,18.5967
5\n,Santo Domingo Oeste,Santo Domingo\n,6932550.0,-70.0086,18.4889

In [21]:
df.to_excel('R. Dominicana.xlsx')