In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Cuba_por_poblaci%C3%B3n"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [8]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[15:]
print(data[-1:])

[['58', 'Guanajay\n', '22.839', '28.242\n']]

In [9]:
df = pd.DataFrame(data)
df.head()

   0                   1            2            3
0  1         La Habana\n  2.106.146\n  2.129.553\n
1  2  Santiago de Cuba\n    431.272\n    509.873\n
2  3           Holguín\n    287.881\n    355.016\n
3  4          Camagüey\n    300.958\n    330.253\n
4  5       Santa Clara\n    211.925\n    246.067\n

In [13]:
header_list = ['Nº','Ciudad','Población 2012', 'Población 2017']

In [14]:
df.columns = header_list
df.head()

  Nº              Ciudad Población 2012 Población 2017
0  1         La Habana\n    2.106.146\n    2.129.553\n
1  2  Santiago de Cuba\n      431.272\n      509.873\n
2  3           Holguín\n      287.881\n      355.016\n
3  4          Camagüey\n      300.958\n      330.253\n
4  5       Santa Clara\n      211.925\n      246.067\n

In [15]:
df.shape

(58, 4)

In [18]:
df = df[df['Población 2017']!= '<NA>']
df.shape

(58, 4)

In [17]:
df['Población 2017'] = df['Población 2017'].astype('string')
df['Ciudad'] = df['Ciudad'].astype('string')
df['Población 2017'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[2]','').replace('\u200b','').replace(',','')) for val in df['Población 2017'].values]
df['Ciudad'] = [str(str(val).replace('\n','')) for val in df['Ciudad'].values]
df['Ciudad'] = df['Ciudad'].astype('string')
df.dtypes

Nº                 object
Ciudad             string
Población 2012     object
Población 2017    float64
dtype: object

In [20]:
df = df.loc[ df['Población 2017'] >= 200000]
df.head()

  Nº            Ciudad Población 2012  Población 2017
0  1         La Habana    2.106.146\n       2129553.0
1  2  Santiago de Cuba      431.272\n        509873.0
2  3           Holguín      287.881\n        355016.0
3  4          Camagüey      300.958\n        330253.0
4  5       Santa Clara      211.925\n        246067.0

In [22]:
df = df.set_index('Nº')
df.head()

              Ciudad Población 2012  Población 2017
Nº
1          La Habana    2.106.146\n       2129553.0
2   Santiago de Cuba      431.272\n        509873.0
3            Holguín      287.881\n        355016.0
4           Camagüey      300.958\n        330253.0
5        Santa Clara      211.925\n        246067.0

In [23]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [24]:
df['long'] = ""
df['lat'] = ""

In [25]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-25-b7ff76cbda6c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-25-b7ff76cbda6c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

              Ciudad Población 2012  Población 2017     long      lat
Nº
1          La Habana    2.106.146\n       2129553.0 -82.3666  23.1136
2   Santiago de Cuba      431.272\n        509873.0 -75.8302  20.0169
3            Holguín      287.881\n        355016.0 -76.2595  20.8795
4           Camagüey      300.958\n        330253.0 -77.9053  21.3926
5        Santa Clara      211.925\n        246067.0 -121.955  37.3541

In [26]:
df.to_excel('Cuba.xlsx')