In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Ecuador"
html = urlopen(url)

In [4]:
soup = BeautifulSoup(html)

In [5]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[43:]
print(data[-1:])

[['221', ' Tiputini', '\xa0Orellana', '-', '461\n']]

In [6]:
df = pd.DataFrame(data)
print(df.head())

   0               1                                2          3            4
0  1       Guayaquil                           Guayas  1 985 379  2 278 691\n
1  2           Quito                        Pichincha  1 399 814  1 607 734\n
2  3          Cuenca                            Azuay    277 374    329 928\n
3  4   Santo Domingo   Santo Domingo de los Tsáchilas    238 827    270 875\n
4  5         Machala                           El Oro    204 578    231 260\n

In [7]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [0,1,2,3,4])
print(header_list)

['#\n' 'Ciudad\n' 'Provincia\n' 'Población (2001)\n' 'Población (2010)\n']

In [8]:
df.columns = header_list
df.head()

,#\n,Ciudad\n,Provincia\n,Población (2001)\n,Población (2010)\n
0,1,Guayaquil,Guayas,1 985 379,2 278 691\n
1,2,Quito,Pichincha,1 399 814,1 607 734\n
2,3,Cuenca,Azuay,277 374,329 928\n
3,4,Santo Domingo,Santo Domingo de los Tsáchilas,238 827,270 875\n
4,5,Machala,El Oro,204 578,231 260\n

In [9]:
df['Población (2010)\n'] = df['Población (2010)\n'].astype('string')
df['Población (2010)\n'] = [float(str(val).replace(' ','').replace('b','.').replace("'","").replace('\\n','')) for val in df['Población (2010)\n'].values]
df.dtypes

#\n                    object
Ciudad\n               object
Provincia\n            object
Población (2001)\n     object
Población (2010)\n    float64
dtype: object

In [10]:
df = df.loc[ df['Población (2010)\n'] >= 200000]

In [12]:
df = df.set_index('#\n')
df

,Ciudad\n,Provincia\n,Población (2001)\n,Población (2010)\n
#,,,,
1,Guayaquil,Guayas,1 985 379,2278691.0
2,Quito,Pichincha,1 399 814,1607734.0
3,Cuenca,Azuay,277 374,329928.0
4,Santo Domingo,Santo Domingo de los Tsáchilas,238 827,270875.0
5,Machala,El Oro,204 578,231260.0
6,Durán,Guayas,174 531,230839.0
7,Manta,Manabí,183 166,217553.0
8,Portoviejo,Manabí,171 847,206682.0

In [13]:
df.to_excel('Ecuador.xlsx')