In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_del_Per%C3%BA_por_poblaci%C3%B3n"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [6]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[1:]
print(data[-1:])

[['\nProyectos Wikimedia\n Datos: Q20746519\n']]

In [7]:
df = pd.DataFrame(data)
df.head()

   0         1            2   3            4
0  1      Lima         Lima  43  8 574 974\n
1  2  Arequipa     Arequipa  14  1 008 290\n
2  3    Callao       Callao   7    994 494\n
3  4  Trujillo  La Libertad   5    970 899\n
4  5  Chiclayo   Lambayeque   4    799 675\n

In [9]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [5,6,7,8,9,10])
print(header_list)

['Puesto\n' 'Ciudad\n' 'Departamento\n' 'N.º de distritos[3]\u200b\n'
 'Censo 2017[4]\u200b[2]\u200b\n']

In [10]:
df.columns = header_list
df

,Puesto\n,Ciudad\n,Departamento\n,N.º de distritos[3]​\n,Censo 2017[4]​[2]​\n
0,1,Lima,Lima,43,8 574 974\n
1,2,Arequipa,Arequipa,14,1 008 290\n
2,3,Callao,Callao,7,994 494\n
3,4,Trujillo,La Libertad,5,970 899\n
4,5,Chiclayo,Lambayeque,4,799 675\n
...,...,...,...,...,...
87,37,Ilo,Moquegua,1,66 118\n
88,38,San Miguel,Puno,1,62 463\n
89,39,Majes,Arequipa,1,60 108\n
90,40,Cerro de Pasco,Pasco,3,58 899\n
91,\nProyectos Wikimedia\n Datos: Q20746519\n,None,None,None,None

In [11]:
df.shape

(92, 5)

In [23]:
df = df[df['Censo 2017[4]\u200b[2]\u200b\n']!= '<NA>']
df.shape

(90, 5)

In [24]:
df['Censo 2017[4]\u200b[2]\u200b\n'] = df['Censo 2017[4]\u200b[2]\u200b\n'].astype('string')
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df['Censo 2017[4]\u200b[2]\u200b\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','')) for val in df['Censo 2017[4]\u200b[2]\u200b\n'].values]
df['Ciudad\n'] = [str(str(val).replace('\n','')) for val in df['Ciudad\n'].values]
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df.dtypes

<ipython-input-24-271803c2db65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Censo 2017[4]\u200b[2]\u200b\n'] = df['Censo 2017[4]\u200b[2]\u200b\n'].astype('string')
<ipython-input-24-271803c2db65>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ciudad\n'] = df['Ciudad\n'].astype('string')
<ipython-input-24-271803c2db65>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Censo 2017[4]\u200b[2]\u200b\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','')) for val in df['Censo 2017[4]\u200b[2]\u200b\n'].values]
<ipython-input-24-271803c2db65>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ciudad\n'] = [str(str(val).replace('\n','')) for val in df['Ciudad\n'].values]
<ipython-input-24-271803c2db65>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ciudad\n'] = df['Ciudad\n'].astype('string')

Puesto\n                   object
Ciudad\n                   string
Departamento\n             object
N.º de distritos[3]​\n     object
Censo 2017[4]​[2]​\n      float64
dtype: object

In [25]:
df = df.loc[ df['Censo 2017[4]\u200b[2]\u200b\n'] >= 200000]
df.head()

,Puesto\n,Ciudad\n,Departamento\n,N.º de distritos[3]​\n,Censo 2017[4]​[2]​\n
0,1,Lima,Lima,43,8574974.0
1,2,Arequipa,Arequipa,14,1008290.0
2,3,Callao,Callao,7,994494.0
3,4,Trujillo,La Libertad,5,970899.0
4,5,Chiclayo,Lambayeque,4,799675.0

In [26]:
df = df.set_index('Puesto\n')
df.head()

          Ciudad\n Departamento\n N.º de distritos[3]​\n  Censo 2017[4]​[2]​\n
Puesto\n
1             Lima           Lima                     43             8574974.0
2         Arequipa       Arequipa                     14             1008290.0
3           Callao         Callao                      7              994494.0
4         Trujillo    La Libertad                      5              970899.0
5         Chiclayo     Lambayeque                      4              799675.0

In [27]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [28]:
df['long'] = ""
df['lat'] = ""

In [29]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-29-583c6ecdc2cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-29-583c6ecdc2cf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

,Ciudad\n,Departamento\n,N.º de distritos[3]​\n,Censo 2017[4]​[2]​\n,long,lat
Puesto,,,,,,
1,Lima,Lima,43,8574974.0,-77.0428,-12.0464
2,Arequipa,Arequipa,14,1008290.0,-71.5375,-16.409
3,Callao,Callao,7,994494.0,-77.126,-12.0508
4,Trujillo,La Libertad,5,970899.0,-121.629,36.6734
5,Chiclayo,Lambayeque,4,799675.0,-79.855,-6.77008

In [30]:
df.to_excel('Perú.xlsx')