In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 

%matplotlib inline 

from urllib.request import urlopen
from bs4 import BeautifulSoup
from googlemaps import Client as GoogleMaps
import re

In [2]:
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Argentina_por_poblaci%C3%B3n"
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

In [7]:
data = []
all_rows = soup.find_all('tr')
for row in all_rows :
    row_list = row.find_all('td')
    DataRow = []
    for cell in row_list : 
        DataRow.append(cell.text)
    data.append(DataRow)
data = data[11:]
print(data[-1:])

[['028\n', 'Berazategui\n', '\xa0Buenos Aires\n', '180\xa0523\n', '[3]\u200b\n']]

In [9]:
df = pd.DataFrame(data)
df= df.drop(columns=4)
df.head()

       0                        1                          2            3
0  001\n           Buenos Aires\n   Ciudad de Buenos Aires\n  2 890 151\n
1  002\n                Córdoba\n                  Córdoba\n  1 317 298\n
2  003\n                Rosario\n                 Santa Fe\n    948 312\n
3  004\n          Mar del Plata\n             Buenos Aires\n    593 337\n
4  005\n  San Miguel de Tucumán\n                  Tucumán\n    548 866\n

In [11]:
header_list = []
col_header = soup.find_all('th')
for col in col_header : 
    header_list.append(col.text)
header_list = np.delete(header_list, [4])
print(header_list)

['#\n' 'Ciudad\n' 'Provincia\n' 'Población (INDEC, 2010)\n']

In [12]:
df.columns = header_list
df.head()

,#\n,Ciudad\n,Provincia\n,"Población (INDEC, 2010)\n"
0,001\n,Buenos Aires\n,Ciudad de Buenos Aires\n,2 890 151\n
1,002\n,Córdoba\n,Córdoba\n,1 317 298\n
2,003\n,Rosario\n,Santa Fe\n,948 312\n
3,004\n,Mar del Plata\n,Buenos Aires\n,593 337\n
4,005\n,San Miguel de Tucumán\n,Tucumán\n,548 866\n

In [13]:
df.shape

(28, 4)

In [15]:
df = df[df['Población (INDEC, 2010)\n']!= '<NA>']
df.shape

(28, 4)

In [14]:
df['Población (INDEC, 2010)\n'] = df['Población (INDEC, 2010)\n'].astype('string')
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df['Población (INDEC, 2010)\n'] = [float(str(val).replace(' ','').replace('\xa0','').replace('\n','').replace('.','').replace('[5]','').replace('\u200b','').replace(',','')) for val in df['Población (INDEC, 2010)\n'].values]
df['Ciudad\n'] = [str(str(val).replace('\n','')) for val in df['Ciudad\n'].values]
df['Ciudad\n'] = df['Ciudad\n'].astype('string')
df.dtypes

#\n                           object
Ciudad\n                      string
Provincia\n                   object
Población (INDEC, 2010)\n    float64
dtype: object

In [17]:
df = df.loc[ df['Población (INDEC, 2010)\n'] >= 200000]
df.head()

,#\n,Ciudad\n,Provincia\n,"Población (INDEC, 2010)\n"
0,001\n,Buenos Aires,Ciudad de Buenos Aires\n,2890151.0
1,002\n,Córdoba,Córdoba\n,1317298.0
2,003\n,Rosario,Santa Fe\n,948312.0
3,004\n,Mar del Plata,Buenos Aires\n,593337.0
4,005\n,San Miguel de Tucumán,Tucumán\n,548866.0

In [18]:
df = df.set_index('#\n')
df.head()

,Ciudad\n,Provincia\n,"Población (INDEC, 2010)\n"
#,,,
001\n,Buenos Aires,Ciudad de Buenos Aires\n,2890151.0
002\n,Córdoba,Córdoba\n,1317298.0
003\n,Rosario,Santa Fe\n,948312.0
004\n,Mar del Plata,Buenos Aires\n,593337.0
005\n,San Miguel de Tucumán,Tucumán\n,548866.0

In [19]:
gmaps = GoogleMaps('AIzaSyBmPY1vTvXaWtekpNOtb4AOVzH27NxA_BA')

In [20]:
df['long'] = ""
df['lat'] = ""

In [21]:
for x in range(len(df)):
    try:
        geocode_result = gmaps.geocode(df['Ciudad\n'][x])
        df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
df.head()

<ipython-input-21-583c6ecdc2cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
<ipython-input-21-583c6ecdc2cf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'][x] = geocode_result[0]['geometry']['location']['lng']

Address was wrong...
Address was wrong...

,Ciudad\n,Provincia\n,"Población (INDEC, 2010)\n",long,lat
#,,,,,
001\n,Buenos Aires,Ciudad de Buenos Aires\n,2890151.0,-58.3816,-34.6037
002\n,Córdoba,Córdoba\n,1317298.0,-4.77938,37.8882
003\n,Rosario,Santa Fe\n,948312.0,-75.2064,43.0812
004\n,Mar del Plata,Buenos Aires\n,593337.0,-57.5426,-38.0055
005\n,San Miguel de Tucumán,Tucumán\n,548866.0,-65.2176,-26.8083

In [22]:
df.to_excel('Argentina.xlsx')